<a href="{% url 'admin_staff:users' %}"
    class="{% if request.resolver_match.url_name == 'users' %} active
    {% endif %} nav_link">
    <i class='bx bx-user nav_icon'></i>
    <span class="nav_name">Пользователи</span> </a>

<a href="{% url 'admin_staff:categories' %}"
    class=" {% if request.resolver_match.url_name == 'categories' %} active
    {% endif %} nav_link">
    <i class='bx bx-folder nav_icon'></i>
    <span class="nav_name">Категории</span> </a>

<a href="{% url 'admin_staff:products' pk=0 %}"
   class=" {% if request.resolver_match.url_name == 'products' %} active
   {% endif %} nav_link">
    <i class='bx bx-cart nav_icon'></i>
    <span class="nav_name">Продукты</span> </a>

<!--<a href="#" class="nav_link">-->
<!--    <i class='bx bx-book nav_icon'></i>-->
<!--    <span class="nav_name">Bookmark</span> </a>-->

<!--<a href="#" class="nav_link">-->
<!--    <i class='bx bx-bar-chart-alt-2 nav_icon'></i>-->
<!--    <span class="nav_name">Stats</span> </a>-->