{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="" style="padding-left: 98px; padding-right: 211px; position: relative;">
	{% include 'includes/inc_main_menu.html' %}
    {% if user.is_authenticated %}
        <div class="container">
            <div class="row">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Продукт</th>
                  <th scope="col">Количество</th>
                </tr>
              </thead>
              <tbody>
              {% for item in basket %}
                  <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ item.product }}</td>
                      <td>{{ item.quantity }}</td>
                  </tr>
              {% endfor %}


              </tbody>
            </table>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}