<div class="header clearfix">
  <a href="{% url 'index' %}" class="logo"></a>
  <ul class="menu">
    <li><a href="{% url 'index'%}" class="active">домой</a></li>
    <li><a href="{% url 'products:index' %}">продукты</a></li>
    <li><a href="{% url 'contacts' %}">контакты</a></li>
    {% if user.is_authenticated %}
    <li>
      <a href="{% url 'auth:edit' %}">
        {{ user.first_name|default:'Пользователь' }}
      </a>
    </li>
    {% endif %}
    {% if user.is_superuser %}
    <li>
      <a href="{% url 'admin_staff:users' %}">админка</a>
    </li>
    {% endif %}
    {% if user.is_authenticated %}
    <li>
      <a href="{% url 'auth:logout' %}">выйти</a>
      {% else %}
      <a href="{% url 'auth:login' %}">войти</a>
    </li>
    {% endif %}
    {% if basket %} {% include 'includes/inc_basket_preview.html' %} {% endif %}
    <li><a href="#" class="search"></a></li>
  </ul>
</div>
